@{
    ViewData["Title"] = "Home Page";
    List<Image> images = ViewData["images"] as List<Image>;
    List<Video> videos = ViewData["videos"] as List<Video>;
    List<Clip> clips = ViewData["clips"] as List<Clip>;
}

<div class="container">
    <div class="jumbotron">
        <h4>Clips</h4>
        <div class="row" id="ClipsRow">

            <div class="col-lg-12" id="ClipsCol">

                @foreach (Clip clip in clips)
                {
                    <div class="media">
                        <p>@clip.Name</p>
                        <div class="media-body">
                            <audio controls src="@clip.Path" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="jumbotron">
    <h4>Images</h4>
    <div class="row" id="ImagesRow">

        <div class="col-lg-12" id="ImagesCol">

            @foreach (Image image in images)
            {
                <div class="media">
                    <p>@image.Name</p>
                    <div class="media-body">
                        <img src="@image.Path" alt="woops" />
                    </div>
                </div>
            }
        </div>
    </div>
    </div>
    <div class="jumbotron">
    <h4>Videos</h4>
    <div class="row" id="VideosRow">

        <div class="col-lg-12" id="VideosCol">

            @foreach (Video video in videos)
            {
                <div class="media">
                    <p>@video.Name</p>
                    <div class="media-body">
                        <video controls src="@video.Path" />
                    </div>
                </div>
            }
        </div>
    </div>
    
    </div>
    
    
</div>
