@{
    ViewData["Title"] = "Home Page";
    List<Image> images = ViewData["images"] as List<Image>;
    List<Video> videos = ViewData["videos"] as List<Video>;
    List<Clip> clips = ViewData["clips"] as List<Clip>;
}

<div class="container">
    <div class="jumbotron">
        <h4>Clips</h4>
        <div class="row" id="ClipsRow">
            <div class="col-lg-12" id="ClipsCol">
                @foreach (Clip clip in clips)
                {
                   <div class="col-sm-5" style="display:block">
                    <h6>@clip.Name</h6>
                    <audio controls src="@clip.Path" />
                    <p>@clip.Description</p>
                    </div>
                     
                }
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h4>Images</h4>
        <div class="row" id="ImagesRow">
            <div class="col-lg-12" id="ImagesCol">
                <div class="container">
                    <div class="row flex-box flex-wrap-wrap">
                        @foreach (Image image in images)
                        {
                            <div class="col-sm-2 flex-box flex-justify-center flex-align-center"><a href="@image.Path" class="fancybox" rel="gallery1" title="@image.Name"><img src="@image.Path" class="img-fluid" /></a></div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h4>Videos</h4>
        <div class="row" id="VideosRow">

            <div class="col-lg-12" id="VideosCol">

                @foreach (Video video in videos)
                {
                <div class="media">
                    <p>@video.Name</p>
                    <div class="media-body">
                        <video controls src="@video.Path" />
                    </div>
                </div>
                }
            </div>
        </div>

    </div>
</div>
