@model Cucklist.Models.ApplicationUser

<div>
    <h6>My Uploads</h6>
    <hr />
    <div class="row" id="MainRow">
        <div class="col-lg-12" id="MainColumn">
            <div class="jumbotron">
                <div class="row" id="ClipsRow">
                    <div class="col-lg-12" id="ClipsCol">
                        <h6>My Audio Clips</h6>
                        <hr />
                        @foreach (Clip clip in Model.Clips)
                        {
                        <div class="media">
                            <div class="media-body">
                                <audio controls src="@clip.Path" />
                            </div>
                        </div>
                        }

                    </div>
                </div>
            </div>
            <div class="jumbotron">
                <div class="row" id="VideosRow">
                    <div class="col-lg-12" id="VideosCol">
                        <h6>My Videos</h6>
                        <hr />
                        @foreach (Video video in Model.Videos)
                        {
                        <div class="media">
                            <div class="media-body">
                                <video controls src="@video.Path" />
                            </div>
                        </div>
                        }
                    </div>

                </div>
            </div>
            <div class="jumbotron">
                    <div class="row" id="ImagesRow">
                        <div class="col-lg-12" id="ImagesCol">
                       <h6>My Images</h6>
                       <hr /> 
                    @foreach (Image image in Model.Images)
                    {
                        
                        <div class="col-sm-2 flex-box flex-justify-center flex-align-center" style="display:block">
                        <h6>@image.Name</h6>
                        <a href = "@image.Path" class="fancybox" rel="gallery1" title="@image.Name">
                        <img src = "@image.Path" class="img-fluid" />
                        </a>
                        <p>@image.Description</p>
                        </div>
                        
                    }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    



